# Ignore models
models/
logs/


# Python
__pycache__/
*.pyc
.env/
venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

docker-compose.yml
src.zip

# Output artifacts
output/
*.json
*.dat
*.mmap

# Vector DB
qdrant_storage/
